doctype html
html.fsvs(lang='ru')
  head
    meta(charset='UTF-8')
    title IDFLY Digital Production
    link(rel='icon', type='image/png', href='/favicon.ico')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/app.css')
  body
    .slide-arrows
      a(href='#')#prev-slide
      a(href='#')#next-slide
      a(href='#')#first-slide
    .main-wrap
      section#main
        .container
          .col-sm-12
            img(src='img/logo.png').logo-img
            h1 Программируем
              br
              | идеи
            h2 Разработка веб-приложений, сервисов и платформ
      section#about
        .container
          .col-sm-12
            img(src='img/logo-2.png').logo-img
            .logo-img
            h2 О нас
            .tabs-wrap
              .tabs-menu.col-sm-5
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#tech', aria-controls='tech', role='tab', data-toggle='tab') Технологии
                  li(role='presentation')
                    a(href='#whoweare', aria-controls='whoweare', role='tab', data-toggle='tab') Кто мы
                  li(role='presentation')
                    a(href='#process', aria-controls='process', role='tab', data-toggle='tab') Процесс
                  li(role='presentation')
                    a(href='#services', aria-controls='services', role='tab', data-toggle='tab') Услуги
              .col-sm-7
                // Tab panes
                .tabs-content
                  #tech.tab-pane.fade.in.active(role='tabpanel')
                    .tab-wrap
                      .tab-num 01
                      .tab-title Технологии
                      .tab-content
                        .col-sm-6
                          .stack
                            .stack-title BACK-END:
                            .stack-text Ruby on Rails, PHP, Go
                          .stack
                            .stack-title MOBILE:
                            .stack-text Apache Cordova, PhoneGap
                          .stack
                            .stack-title DEVOPS:
                            .stack-text Docker, Jenkins, Ansible, Darius
                        .col-sm-6
                          .stack
                            .stack-title FRONT-END:
                            .stack-text HTML5, Angular, Gulp
                          .stack
                            .stack-title DATA:
                            .stack-text MySQL. PostgreSQL, Redis, RabbitMQ
                          .stack
                            .stack-title BIG DATA, HIGHLOAD:
                            .stack-text Go, Cassandra, Elastic Search
                  #whoweare.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 02
                      .tab-title Кто мы
                      .tab-content
                        p Команда идейных
                          br
                          | разработчиков-профессионалов,
                          br
                          | работающая на стыке технологий,
                          br
                          | сервиса и пользы.
                  #process.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 03
                      .tab-title Процесс
                      .tab-content
                        p
                          b Для нас важен
                            br
                            | не только результат.
                          | Процессы, такие как Agile, Lean,
                          br
                          | Continuous integration & delivery,
                          br
                          | QA, code review, – необходимая
                          br
                          | часть жизни проекта
                  #services.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 04
                      .tab-title Услуги
                      .tab-content
                        p
                          | Разработка проекта, помощь в проектировании,
                          br
                          | автоматизация процессов, техническая
                          br
                          | консультация, или поддержка кода.
                          br
                          br
                          | Если вы стартап в поисках CTO
                          br
                          | — будем рады помочь.
                          br
                          br
                          a.mailto(href='mailto:mail@idfly.ru') Напишите нам
      section#projects
        .container
          .col-sm-6
            img(src='img/logo-3.png').logo-img
          .col-sm-6
            #carousel
              .carousel-wrap
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
      section#contacts
        .container
          .col-sm-12
            img(src='img/logo-4.png').logo-img
          .col-sm-5
            h2 Контакты
            .contacts--phone +7 903 998 76 17
            .contacts--address Новосибирск, Линейная 28
            .contacts--email
              a(href='mailto:mail@idfly.ru') mail@idfly.ru
          .col-sm-7
            .contact-form
              .form-title Есть идея? Расскажите
              form
                textarea(placeholder='Чем можем помочь?' rows='3' required)
                input(placeholder='Как вас зовут?' required)
                input(placeholder='Почта, телефон, скайп' required)
                button(type='submit') Отправить &nbsp;&nbsp;&nbsp;
                .form--icon
              .form-border
    nav#nav-menu
      .container
        .col-sm-12
          ul
            li#nav-menu--main.active
              a(href='#') Главная
            li#nav-menu--about
              a(href='#') О нас
            li#nav-menu--projects
              a(href='#') Проекты
            li#nav-menu--contacts
              a(href='#') Контакты
          a.mailto(href='mailto:mail@idfly.ru') Рассказать идею

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='js/onepage-scroll.js')
    script(src='js/app.js')