@import "fonts.styl"

font-family = 'Ubuntu', sans-serif
bg-first-page = #061a2d
bg-second-page = #3cd3bf
bg-third-page = #2e254f
bg-fourth-page = #74e1f6
color-text = #364762
color-text-grey = #8a8a8a
color-text-project = #626262

*
  outline none!important
body
  font-family font-family
  font-weight 300
  background bg-first-page
  height calc(100% - 60px)!important

.main-wrap
  section
    overflow auto
    img.logo-img
      margin-top 100px
  #main
    color #fff
    background bg-first-page
    position relative
    h1
      margin-top 100px
      font-family 'Intro'
      font-size 64px
    h2
      margin-top 70px
      font-size 22px
      font-weight 300
  #about
    background bg-second-page
    color #fff
    h2
      font-family 'Intro'
      font-size 52px
      margin-top 100px
    .tabs-menu
      overflow hidden
      padding 0
  #projects
    background bg-third-page
    h2
      font-family 'Intro'
      font-size 52px
      margin-top 100px
    .col-sm-6
      margin: 0
      padding: 0
    #carousel
      margin-top: 60px
      height: 100%
      width: 100%
      .carousel-wrap
        width: 100%
        .carousel-item
          background: bg-third-page
          zoom 1
          height: 33%
          width: 49%
          margin: 0
          padding: 0
          float: left
        img
          display: block
          float: left
          border 1px solid bg-third-page
          width: 100%
          height: 33%


@import "contacts.styl"
@import "tabs.styl"
@import "nav-menu.styl"
@import "onepage-scroll.styl"
@import "media.styl"