#contacts
  background bg-fourth-page
  color white
  h2
    font-family 'Intro'
    font-size 52px
    margin-top 100px
  .contacts--phone
    margin-top 85px
    font-size 30px
    font-weight 500
  .contacts--address
    margin-top 25px
    font-size 22px
  .contacts--email
    a
      color white
      font-size 22px
      text-decoration underline
      &:hover
        text-decoration none
  .contact-form
    padding 50px
    margin-top 50px
    position: relative
    .form-border
      top 0
      left 0
      border 1px white solid
      position absolute
      width: 1000%
      height: 100%
      z-index 100
    form, .form-title
      z-index 150
      position: relative
    .form-title
      font-family 'Intro'
      font-size 32px
    input::-webkit-input-placeholder
            color bg-third-page
            font-size: 18px
    input::-moz-placeholder
            color bg-third-page
            font-size: 18px
    input:-moz-placeholder
      color bg-third-page
      font-size: 18px
    input:-ms-input-placeholder
      color bg-third-page
      font-size: 18px
    textarea::-webkit-input-placeholder
               color bg-third-page
               font-size: 18px
    textarea::-moz-placeholder
               color bg-third-page
               font-size: 18px
    textarea:-moz-placeholder
      color bg-third-page
      font-size: 18px
    textarea:-ms-input-placeholder
      color bg-third-page
      font-size: 18px
    textarea, input
      background none
      color bg-third-page
      border none
      display block
      -webkit-transition all 0.4
      -moz-transition all 0.4
      -ms-transition all 0.4
      -o-transition all 0.4
      transition all 0.4s
      font-size 18px
      &:focus
        border-bottom 2px solid #e15e5e
    textarea
      margin-top 30px
      width 100%
      max-width 420px
      margin-right 30px
      border-bottom 2px solid white
    input
      margin-top 20px
      width 320px
      padding: 10px 0
      border-bottom 2px solid white
    button
      margin-top 40px
      background url('../img/mail-btn.png') no-repeat 115px 17px
      border 2px solid bg-third-page
      color bg-third-page
      padding 10px 15px
      font-size 18px
      -webkit-transition all 0.4
      -moz-transition all 0.4
      -ms-transition all 0.4
      -o-transition all 0.4
      transition all 0.4s
      &:hover
        color white
        background bg-third-page url('../img/mail-btn-hover.png') no-repeat 115px 17px
    .form--icon
      position absolute
      left 400px
      bottom 50px
      width 130px
      height 130px
      background url('../img/mail.png') no-repeat