@import ('https://fonts.googleapis.com/css?family=Ubuntu:400,700,500,400italic,300italic,300,500italic,700italic&subset=latin,cyrillic')

@font-face
  font-family 'Intro'
  src local('Intro'), url('../fonts/intro-webfont.eot'), url('../fonts/intro.woff2') format('woff2'), url('../fonts/intro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/intro-webfont.woff') format('woff'), url('../fonts/intro-webfont.ttf') format('truetype')
  font-weight 400
  font-style normal