#nav-menu
  position absolute
  z-index 1000
  bottom 0
  left 0
  width 100%
  height 60px
  background #fff
  ul
    position absolute
    font-size 11px
    line-height 63px
    text-transform uppercase
    list-style none
    margin 0
    padding 0
    li
      position relative
      height 60px
      overflow hidden
      float left
      z-index 1
      -webkit-transition all 0.4
      -moz-transition all 0.4
      -ms-transition all 0.4
      -o-transition all 0.4
      transition all 0.4s
      a
        display block
        padding 0 15px
        color color-text-grey
      &#nav-menu--main.active
        background bg-first-page
      &#nav-menu--about.active
        background bg-second-page
      &#nav-menu--projects.active
        background bg-third-page
      &#nav-menu--contacts.active
        background bg-fourth-page
      &.active
        a
          color white
          text-decoration none
  a.mailto
    position absolute
    top 22px
    right 9%
    padding-left 30px
    background url(../img/icon-mail.png) no-repeat
    line-height 16px
    color #7f7f7f
    font-size 11px
