body, html
  margin 0
  overflow hidden
  -webkit-transition opacity 400ms
  -moz-transition opacity 400ms
  transition opacity 400ms

body, .onepage-wrapper, html
  display block
  position static
  padding 0
  width 100%
  height 100%

.onepage-wrapper
  width 100%
  height calc(100% - 60px)!important
  display block
  position relative
  padding 0
  -webkit-transform-style preserve-3d
  .section
    width 100%
    height 100%

.slide-arrows
  position absolute
  width 100%
  height calc(100% - 60px)
  overflow hidden
  a#prev-slide, a#next-slide, a#first-slide
    position absolute
    z-index 999
    left 0
    width 100%
    background-position 50% 50%
    background-repeat no-repeat
    -o-transition all 0.4s
    -ms-transition all 0.4s
    -moz-transition all 0.4s
    -webkit-transition all 0.4s
  a#prev-slide
    top 0
    height 0px
    background-image url(../img/icon-prev.png)
    opacity 0
  a#next-slide
    z-index 100
    bottom 0px
    height 60px
    background-image url(../img/icon-next.png)
  a#first-slide
    z-index 99
    bottom 0px
    height 60px
    background-color bg-first-page
    background-image url(../img/icon-prev.png)
    opacity 0

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper
  overflow auto

.disabled-onepage-scroll
  .onepage-wrapper
    -webkit-transform none !important
    -moz-transform none !important
    transform none !important
    -ms-transform none !important
    min-height 100%
    .section
      position relative !important
      top auto !important
      left auto !important
  .onepage-pagination
    display none

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html
  position inherit

