.main-wrap
  #about
    .tabs-wrap
      margin-top 70px
      #whoweare, #process, #services
        p
          margin-left 15px
        .tab-title:after
          content ''
          width 60px
          height: 5px
          background bg-third-page
          display block
          margin-top 25px
      #process
        b
          display block
          margin-bottom 10px
      #services
        a
          font-size 20px
          color bg-third-page
          text-decoration underline
          &:hover, &:focus
            text-decoration none
      .nav-tabs
        border none
        float left
        li
          float none
          a, a:hover, a:focus
            background none
            border none
            outline none
          a:hover
            opacity 1
            text-decoration none
          a
            color white
            opacity 0.5
            font-weight 300
            font-size 21px
            text-decoration underline
            padding-left 0
          &.active
            a
              opacity 1
              text-decoration none
            &:after
              content ''
              position absolute
              border-bottom 1px white solid
              height 1px
              width 300px
              top 25px
              left 170px
      .tabs-content
        position: relative
        .tab-pane
          position: absolute
          top -120px
          .tab-wrap
            .tab-num
              font-weight 300
              font-size 22px
              margin-left 15px
            .tab-title
              font-weight bold
              font-size 30px
              font-family 'Intro'
              margin-top 20px
              margin-left 15px

            .tab-content
              font-size 20px
              margin-top 30px
              .stack
                margin-bottom 10px
                .stack-title
                  font-size 16px
                  line-height 28px
                  font-weight 600
                  text-transform uppercase
                  color bg-third-page
                .stack-text
                  font-weight 300